<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>Button</title>
  </head>
  <body>
<h1>
    <h1 button type="button" class="btn btn-primary">This</button></h1>
    <h1 button type="button" class="btn btn-secondary">was</button></h1>
    <h1 button type="button" class="btn btn-success">the</button></h1>
    <h1 button type="button" class="btn btn-danger">Dangerous</button></h1>
    <h1 button type="button" class="btn btn-warning">Subject</button></h1>
    <h1 button type="button" class="btn btn-info">in the</button></h1>
    <h1 button type="button" class="btn btn-light">Python</button></h1>
    <h1 button type="button" class="btn btn-dark">Fullstack</button></h1>
    <h1 button type="button" class="btn btn-link">Development</button></h1>
</h1>
  </body>
</html>